<div class="row">
  <div class="col-md-4" style="text-align: center"></div>
  <div class="col-md-4" style="text-align: center">
    <div style="text-align: center">
      <img src="../../content/images/logo-supergiros-400x80.png" style="width: 80%" />
    </div>
    <form [formGroup]="fgCambioClave" (ngSubmit)="actualizarClave()">
      <span style="font-weight: 900">Cambiar contrase&ntilde;a</span>
      <div>Por favor ingrese una nueva contrase&ntilde;a. Recuerde que m&iacute;nimo debe tener 8 caracteres.</div>
      <!-- ================ Contraseña ============= -->

      <div class="row" style="padding-top: 1em" style="padding-top: 1em">
        <div class="row"><strong>Nueva Contraseña*</strong></div>
        <div class="col-12 input-group">
          <input
            id="contrasena1"
            formControlName="contrasena1"
            pattern="^(?!.*\s)(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[~`!@#$%^&*()--+={}\[\]|\\:;'<>,.?/_]).{8,}$"
            class="form-control"
            autocomplete="off"
            [ngClass]="claseCSSclave1"
            name="contrasena1"
            [type]="codigoClave1Visible ? 'text' : 'password'"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="togleClave1()" type="button">
              <fa-icon [icon]="iconoMostadoClave1"></fa-icon>
            </button>
          </div>
        </div>
        <!-- ================ Confirma Contraseña ============= -->
        <div class="row" style="padding-top: 1em"><strong>Confirme Contraseña*</strong></div>
        <div class="col-12 input-group">
          <input
            id="contrasena2"
            formControlName="contrasena2"
            class="form-control"
            autocomplete="off"
            placeholder="Confirmación"
            [ngClass]="claseCSSclave2"
            name="contrasena2"
            [type]="codigoClave2Visible ? 'text' : 'password'"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="togleClave2()" type="button">
              <fa-icon [icon]="iconoMostadoClave2"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <!-- mensajes -->
      <div class="row" style="padding-top: 1em" style="padding-top: 1em" *ngIf="contrasena1?.invalid || contrasena2?.invalid">
        <div *ngIf="contrasena1?.invalid && (contrasena1?.dirty || contrasena1?.touched)" class="bg-warning" style="text-align: left">
          LA contraseña debe tener almenos una letra minúscula, una(1) letra MAYÚSCULA, un(1) número y un(1) caracter especial.
        </div>
        <div *ngIf="contrasena2?.invalid && (contrasena2?.dirty || contrasena2?.touched)" class="bg-warning" style="text-align: left">
          las contraseñas deben ser iguales
        </div>
      </div>
      <!-- ================ BTN Enviar ============= -->
      <div class="row" style="padding-top: 1em">
        <div class="col-sm-12 mb-2">
          <button type="submit" class="btn btn-primary" [disabled]="!fgCambioClave.valid" style="width: 100%">Siguiente</button>
        </div>
      </div>
    </form>
  </div>
  <!-- FIN DIV Central -->
  <div class="col-md-4" style="text-align: center"></div>
</div>
